.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
