$fontSize: 14px;
$fontFamily: 'Roboto', 'Helvetica Neue', sans-serif;
$textColor: #424242;
$borderRadius: 4px;

$bodyPadding: 10px;

$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12);

$titleFontSize: 20px;

$buttonColor: #003478;
$greyColor: #333;

$primaryPadding: 0.4em 1em;
$primaryBorder: 1px solid $greyColor;

$iconSize: 40px;
